<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Recuperar Senha — Aqui tem Terapia</title>
</head> 
<body>
    <main class="single">
         <header>
            <div class="logo">Aqui tem Terapia!</div>
                <nav>
                    <a class="cta" href="login.html">Início</a>
                </nav>
            </header>

        <section class="content" aria-labelledby="reset-title">
        <h1 id="reset-title">Recuperar senha</h1>
        <p class="lead">Informe seu e-mail para redefinir sua senha.</p>

        <form action="../controller/gerenciar_usuarios.php" method="post">
        <input type="hidden" name="acao" value="recuperar_senha">

        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-actions" >
        <button type="submit" class="btn-primary">Enviar</button>
        <button href="login.html" class="btn-secondary">Cancelar</button>
        </div>

        </form>
        </section>
    </main>

</body>
</html>