<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Redefinir Senha — Aqui tem Terapia</title>
</head>
<body>
    <main class="single">
      <header>
        <div class="logo">Aqui tem Terapia!</div>
          <nav>
            <a class="cta" href="tela_inicial.html">Início</a>
          </nav>
      </header>

  <section class="content" aria-labelledby="reset-title">
    <h1 id="reset-title">Redefinir senha</h1>
    <form action="../controller/gerenciar_usuarios.php" method="post">
      <input type="hidden" name="acao" value="redefinir_senha">
      <input type="hidden" name="token" value="<?php echo $_GET['token']; ?>">

      <div class="input-group">
        <label for="nova-senha">Nova senha</label>
        <input type="password" id="nova-senha" name="nova_senha" required>
      </div>

      <div class="input-group">
        <label for="confirma-senha">Confirmar senha</label>
        <input type="password" id="confirma-senha" name="confirma_senha" required>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">Salvar nova senha</button>
        <button href="login.html" class="btn-secondary">Cancelar</button>
      </div>
    </form>
  </section>
</main>

</body>
</html>